{
    "ignore_syscalls": [
        "switch",
        "rt_sigprocmask",
        "rt_sigaction",
        "rt_sigreturn",
        "clock_gettime",
        "clock_getres",
        "clock_nanosleep",
        "nanosleep",
        "gettimeofday",
        "time",
        "getpid",
        "gettid",
        "getppid",
        "getuid",
        "geteuid",
        "getgid",
        "getegid",
        "getpgrp",
        "waitid",
        "wait4",
        "futex",
        "epoll_wait",
        "epoll_pwait",
        "epoll_ctl",
        "epoll_create",
        "epoll_create1",
        "poll",
        "ppoll",
        "select",
        "pselect6",
        "close",
        "getdents",
        "getdents64",
        "lseek",
        "fcntl",
        "fstat",
        "newfstatat",
        "stat",
        "lstat",
        "statx",
        "mprotect",
        "mmap",
        "munmap",
        "mremap",
        "brk",
        "ioctl",
        "getsockopt",
        "setsockopt",
        "getsockname",
        "getpeername",
        "dup",
        "dup2",
        "dup3",
        "pipe",
        "pipe2",
        "sched_yield",
        "sched_getaffinity",
        "sched_setaffinity"
    ]
}
