################################################################################
# Tools

[tools."github:kubernetes-sigs/controller-tools"]
# renovate: datasource=github-releases depName=kubernetes-sigs/controller-tools
version = "0.20.1"

[tools."github:golangci/golangci-lint"]
# renovate: datasource=github-releases depName=golangci/golangci-lint
version = "2.10.1"

[tools."go:sigs.k8s.io/kube-api-linter/cmd/golangci-lint-kube-api-linter"]
# renovate: datasource=git-refs packageName=https://github.com/kubernetes-sigs/kube-api-linter.git
version = "39e3d06a2850e38a8e9e82918bab14ce84e608de"

[tools."github:kubernetes-sigs/controller-runtime"]
# renovate: datasource=github-releases depName=kubernetes-sigs/controller-runtime
version = "0.23.1"
[tools."github:kubernetes-sigs/controller-runtime".platforms]
darwin-arm64 = { asset_pattern = "setup-envtest-darwin-arm64" }

################################################################################
# Tasks

[tasks.build]
description = "Build the manager binary"
run = "go build -o bin/generate main.go"

[tasks.clean]
description = "Clean generated api/ directory"
run = "rm -rf ./api/"

[tasks.generate-api]
description = "Generate Kubernetes Go API from OpenAPI spec"
run = "go run ."
depends = [ "clean" ]
depends_post = [ "generate-deepcopy" ]
[tasks.generate-api.env]
INPUT_FILE = "openapi.yaml"
OUTPUT_DIR = "api"
CONFIG_FILE = "config.yaml"

[tasks.generate-crds]
description = "Generate CRD manifests from the API types"
dir = ".."
run = """
export VERSION=$(cat VERSION)
go run ./scripts/crds-generator
"""

[tasks.generate-deepcopy]
description = "Generate DeepCopy methods for the API types"
run = "controller-gen object paths=./api/..."

[tasks.lint]
description = "Run golangci-lint"
run = "golangci-lint run -v --config .golangci.yml"

[tasks.lint-api]
description = "Run golangci-lint"
run = "golangci-lint-kube-api-linter run -v --config .golangci-kube-api.yml ./api/..."

[tasks.test-unit]
description = "Run unit tests"
run = 'go test -v -count 1 ${GOTESTFLAGS} ./pkg/... ./api/...'

[tasks.test-crdsvalidation]
description = "Run CRD validation tests"
# Update test paths below if more API groups are added
run = '''
export KUBEBUILDER_ASSETS=$(setup-envtest use -p path)
go test -v -count 1 ${GOTESTFLAGS} ./test/crdsvalidation/konnect.konghq.com/...
'''

[tasks.all]
description = "Generate API, CRDs, and run all tests and linters"
run = [
       { task = "generate-api" },
       { task = "lint" },
       { tasks = [ "generate-crds", "lint-api", "test-unit"] },
       { task = "test-crdsvalidation" },
]
