openapi: 3.1.0
info:
  title: Konnect API - Go SDK
  version: 3.1.2
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: 'https://konghq.com'
    email: support@konghq.com
  x-extensions-note: |
    This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.
    Supported types:






      - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`
      - `string`: A template string expression that evaluates to a string or a literal string value. For example,
        `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`

    Additionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value
    of the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.
    When the value is an expression, the expression itself is stored and returned in API responses.

    `x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or
    policy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string
    containing a semantic version in the `MAJOR.MINOR` format, e.g., `"1.1"`.
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
  x-oas-source: kong/platform-api@
  x-oas-source-link: 'https://github.com/Kong/platform-api/commit/'
servers:
  - url: 'https://global.api.konghq.com'
  - url: 'https://us.api.konghq.com'
  - url: 'https://eu.api.konghq.com'
  - url: 'https://au.api.konghq.com'
paths:
  /v1/catalog-services:
    post:
      x-speakeasy-entity-operation: CatalogService#create
      operationId: create-catalog-service
      summary: Create Service
      description: Creates a service.
      requestBody:
        $ref: '#/components/requestBodies/CreateCatalogServiceRequest'
      responses:
        '201':
          $ref: '#/components/responses/CatalogServiceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Catalog Services
    get:
      operationId: list-catalog-services
      summary: List Services
      description: Returns a paginated collection of services.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogServiceFilter'
        - $ref: '#/components/parameters/CatalogServiceSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServicesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Catalog Services
  '/v1/catalog-services/{id}':
    parameters:
      - name: id
        in: path
        description: The `id` of the service.
        required: true
        schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
    get:
      x-speakeasy-entity-operation:
        terraform-resource: CatalogService#read
        terraform-datasource: null
      operationId: fetch-catalog-service
      summary: Get a Service
      description: Fetches a service.
      responses:
        '200':
          $ref: '#/components/responses/CatalogServiceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Services
    patch:
      x-speakeasy-entity-operation: CatalogService#update
      operationId: update-catalog-service
      summary: Update Service
      description: Updates a service.
      requestBody:
        $ref: '#/components/requestBodies/UpdateCatalogServiceRequest'
      responses:
        '200':
          $ref: '#/components/responses/CatalogServiceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Catalog Services
    delete:
      x-speakeasy-entity-operation: CatalogService#delete
      operationId: delete-catalog-service
      summary: Delete Service
      description: Deletes a service.
      responses:
        '204':
          description: Service was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Services
  '/v1/catalog-services/{id}/resources':
    parameters:
      - name: id
        in: path
        description: The `id` of the service.
        required: true
        schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
    get:
      operationId: list-catalog-service-resources
      summary: List Service Resources
      description: Returns a paginated collection of resources mapped to a service.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogResourceRefFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServiceResourcesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Service Resources
  '/v1/catalog-services/{id}/scorecards':
    parameters:
      - name: id
        in: path
        description: The `id` of the service.
        required: true
        schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
    get:
      operationId: list-catalog-service-scorecards
      summary: List Catalog Service Scorecards
      description: Returns a paginated collection of scorecards targeting the given service.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/ScorecardFilter'
        - $ref: '#/components/parameters/ScorecardSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServiceScorecardsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Scorecards
  '/v1/catalog-services/{serviceId}/scorecards/{scorecardId}':
    parameters:
      - name: serviceId
        in: path
        description: The `id` of the service.
        required: true
        schema:
          type: string
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
      - name: scorecardId
        in: path
        description: The `id` of the scorecard.
        required: true
        schema:
          type: string
          format: uuid
          example: f3704e4c-104d-4f21-998a-20d4364c893f
    get:
      operationId: fetch-catalog-service-scorecard
      summary: Get a Catalog Service Scorecard
      description: Fetches the given scorecard targeting the service.
      responses:
        '200':
          $ref: '#/components/responses/CatalogServiceScorecardResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Scorecards
  /v1/criteria-templates:
    get:
      operationId: list-criteria-templates
      summary: List Criteria Templates
      description: Returns a paginated collection of criteria templates.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CriteriaTemplateFilter'
        - $ref: '#/components/parameters/CriteriaTemplateSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCriteriaTemplatesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Criteria Templates
  /v1/event-gateways:
    get:
      operationId: list-event-gateways
      summary: List all Event Gateways
      description: Returns an array of gateway objects containing information about the Konnect Event Gateways.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewaysResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#create
        terraform-datasource: null
      operationId: create-event-gateway
      summary: Create Event Gateway
      description: Create a Event gateway in the Konnect Organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGatewayRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
  '/v1/event-gateways/{gatewayId}':
    parameters:
      - name: gatewayId
        in: path
        description: The UUID of your Gateway.
        required: true
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#read
        terraform-datasource: null
      operationId: get-event-gateway
      summary: Get an Event Gateway
      description: Returns information about an individual Event gateway.
      responses:
        '200':
          description: A response to retrieving a single eventgateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#update
        terraform-datasource: null
      operationId: update-event-gateway
      summary: Update Event Gateway
      description: Update an individual gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGatewayRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
    patch:
      operationId: patch-event-gateway
      summary: Partially Update Event Gateway
      description: Patch an individual gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchGatewayRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
        - Event Gateways
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#delete
        terraform-datasource: null
      operationId: delete-event-gateway
      summary: Delete Event Gateway
      description: Delete an individual gateway.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateways
  '/v1/event-gateways/{gatewayId}/backend-clusters':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-backend-clusters
      summary: List Backend Clusters
      description: Returns a list of backend clusters associated with the specified Event Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListBackendClustersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Backend Clusters
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayBackendCluster#create
        terraform-datasource: null
      operationId: create-event-gateway-backend-cluster
      summary: Create Backend Cluster
      description: Creates a new backend cluster.
      requestBody:
        $ref: '#/components/requestBodies/CreateBackendClusterRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendCluster'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Backend Clusters
  '/v1/event-gateways/{gatewayId}/backend-clusters/{backendClusterId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - name: backendClusterId
        in: path
        description: The ID of the Backend Cluster.
        required: true
        schema:
          type: string
          format: uuid
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayBackendCluster#read
        terraform-datasource: null
      operationId: get-event-gateway-backend-cluster
      summary: Get a Backend Cluster
      description: Returns information about a specific backend cluster.
      responses:
        '200':
          description: A single backend cluster object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendCluster'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Backend Clusters
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayBackendCluster#update
        terraform-datasource: null
      operationId: update-event-gateway-backend-cluster
      summary: Update Backend Cluster
      description: Updates an existing backend cluster.
      requestBody:
        $ref: '#/components/requestBodies/UpdateBackendClusterRequest'
      responses:
        '200':
          description: Updated backend cluster object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendCluster'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Backend Clusters
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayBackendCluster#delete
        terraform-datasource: null
      operationId: delete-event-gateway-backend-cluster
      summary: Delete Backend Cluster
      description: Deletes a specific backend cluster.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Backend Clusters
  '/v1/event-gateways/{gatewayId}/data-plane-certificates':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-data-plane-certificates
      summary: List Event Gateway DataPlane Certificates
      description: Returns a list of dataplane certificates that are associated to this event gateway. A dataplane certificate allows dataplanes configured with the certificate and corresponding private key to establish connection with this event gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayDataPlaneCertificatesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway DataPlane Certificates
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayDataPlaneCertificate#create
        terraform-datasource: null
      operationId: create-event-gateway-data-plane-certificate
      summary: Create a New DataPlane Certificate
      description: Create new dataplane certificate to this event gateway. A dataplane certificate allows dataplanes configured with the certificate and corresponding private key to establish connection with this event gateway.
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayDataPlaneCertificateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayDataPlaneCertificate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway DataPlane Certificates
  '/v1/event-gateways/{gatewayId}/data-plane-certificates/{certificateId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - name: certificateId
        in: path
        description: The ID of the dataplane certificate.
        required: true
        schema:
          type: string
          format: uuid
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayDataPlaneCertificate#read
        terraform-datasource: null
      operationId: get-event-gateway-data-plane-certificate
      summary: Get a DataPlane Certificate
      description: Returns information about an individual dataplane certificate.
      responses:
        '200':
          description: A single dataplane certificate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayDataPlaneCertificate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway DataPlane Certificates
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayDataPlaneCertificate#update
        terraform-datasource: null
      operationId: update-event-gateway-data-plane-certificate
      summary: Update Event Gateway DataPlane Certificate
      description: Updates an existing dataplane certificate associated with the specified Event Gateway.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayDataPlaneCertificateRequest'
      responses:
        '200':
          description: Updated event gateway dataplane certificate object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayDataPlaneCertificate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway DataPlane Certificates
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayDataPlaneCertificate#delete
        terraform-datasource: null
      operationId: delete-event-gateway-data-plane-certificate
      summary: Delete Event Gateway DataPlane Certificate
      description: Deletes a specific dataplane certificate associated with the Event Gateway.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway DataPlane Certificates
  '/v1/event-gateways/{gatewayId}/listeners':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-listeners
      summary: List Event Gateway Listeners
      description: Returns a list of listeners associated with the specified Event Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayListenersFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayListenersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listeners
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListener#create
        terraform-datasource: null
      operationId: create-event-gateway-listener
      summary: Create Event Gateway Listener
      description: Creates a new listener associated with the specified Event Gateway.
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayListenerRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListener'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listeners
  '/v1/event-gateways/{gatewayId}/listeners/{eventGatewayListenerId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - name: eventGatewayListenerId
        in: path
        description: The ID of the Event Gateway Listener.
        required: true
        schema:
          type: string
          format: uuid
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListener#read
        terraform-datasource: null
      operationId: get-event-gateway-listener
      summary: Get an Event Gateway Listener
      description: Returns information about a specific listener associated with the Event Gateway.
      responses:
        '200':
          description: A single event gateway listener object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListener'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Listeners
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListener#update
        terraform-datasource: null
      operationId: update-event-gateway-listener
      summary: Update Event Gateway Listener
      description: Updates an existing listener associated with the specified Event Gateway.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayListenerRequest'
      responses:
        '200':
          description: Updated event gateway listener object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListener'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listeners
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListener#delete
        terraform-datasource: null
      operationId: delete-event-gateway-listener
      summary: Delete Event Gateway Listener
      description: Deletes a specific listener associated with the Event Gateway.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Listeners
  '/v1/event-gateways/{gatewayId}/listeners/{eventGatewayListenerId}/policies':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayListenerId'
    get:
      operationId: list-event-gateway-listener-policies
      summary: List Policies for Listener
      description: Returns a list of policies associated with the specified Event Gateway listener.
      parameters:
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayListenerPoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListenerPolicy#create
        terraform-datasource: null
      operationId: create-event-gateway-listener-policy
      summary: Create Policy for Listener
      description: Creates a new policy associated with the specified Event Gateway listener.
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyBefore'
        - $ref: '#/components/parameters/EventGatewayPolicyAfter'
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayListenerPolicyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListenerPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
  '/v1/event-gateways/{gatewayId}/listeners/{eventGatewayListenerId}/policies/{policyId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayListenerId'
      - name: policyId
        in: path
        description: The UUID of the policy.
        required: true
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListenerPolicy#read
        terraform-datasource: null
      operationId: get-event-gateway-listener-policy
      summary: Get a Policy for Listener
      description: Returns information about a specific policy associated with the Event Gateway listener.
      responses:
        '200':
          description: A single policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListenerPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Listener Policies
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListenerPolicy#update
        terraform-datasource: null
      operationId: update-event-gateway-listener-policy
      summary: Update Policy for Listener
      description: Updates an existing policy associated with the specified Event Gateway listener.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayListenerPolicyRequest'
      responses:
        '200':
          description: Updated policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListenerPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
    patch:
      operationId: patch-event-gateway-listener-policy
      summary: Partially Update Policy for Listener
      description: Partially updates an existing policy associated with the specified Event Gateway listener.
      requestBody:
        $ref: '#/components/requestBodies/PatchEventGatewayListenerPolicyRequest'
      responses:
        '200':
          description: Updated policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayListenerPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayListenerPolicy#delete
        terraform-datasource: null
      operationId: delete-event-gateway-listener-policy
      summary: Delete Policy for Listener
      description: Deletes a specific policy associated with the Event Gateway listener.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Listener Policies
  '/v1/event-gateways/{gatewayId}/listeners/{eventGatewayListenerId}/policies/{policyId}/move':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayListenerId'
      - $ref: '#/components/parameters/policyId'
    post:
      operationId: move-event-gateway-listener-policy
      summary: Move Policy
      description: |
        Moves the position of a specific policy relative to the chain associated with the Event Gateway listener.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveEventGatewayPolicy'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
  '/v1/event-gateways/{gatewayId}/listeners/{eventGatewayListenerId}/policy-chain':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayListenerId'
    get:
      operationId: get-event-gateway-listener-policy-chain
      summary: Get Policy Chain for Listener
      description: |
        Get the policy chain for a listener composed of all the ids of the policies in order of execution.
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
    put:
      operationId: update-event-gateway-listener-policy-chain
      summary: Update Policy Chain for Listener
      description: Update the policy chain for a listener by providing an ordered list of policy ids.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayPolicyChainRequest'
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Listener Policies
  '/v1/event-gateways/{gatewayId}/nodes':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-nodes
      summary: List Nodes
      description: Returns a list of nodes associated with the specified Event Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayNodesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Nodes
  '/v1/event-gateways/{gatewayId}/nodes/{eventGatewayNodeId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayNodeId'
    get:
      operationId: get-event-gateway-node
      summary: Get a Node
      description: Returns information about a specific node associated with the Event Gateway.
      responses:
        '200':
          description: A single node object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayNode'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Nodes
  '/v1/event-gateways/{gatewayId}/nodes/{eventGatewayNodeId}/errors':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayNodeId'
    get:
      operationId: list-event-gateway-node-errors
      summary: List Node Errors
      description: Returns information about the node errors.
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayNodeErrorsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Nodes
  '/v1/event-gateways/{gatewayId}/nodes/{eventGatewayNodeId}/status':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/eventGatewayNodeId'
    get:
      operationId: get-event-gateway-node-status
      summary: Get Node Status
      description: Returns information about the node status.
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayNodeStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Nodes
  '/v1/event-gateways/{gatewayId}/schema-registries':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-schema-registries
      summary: List Schema Registries
      description: Returns a list of schema registries associated with the specified Event Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListSchemaRegistriesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Schema Registries
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewaySchemaRegistry#create
        terraform-datasource: null
      operationId: create-event-gateway-schema-registry
      summary: Create Schema Registry
      description: Creates a new schema registry associated with the specified Event Gateway.
      requestBody:
        $ref: '#/components/requestBodies/CreateSchemaRegistryRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaRegistry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Schema Registries
  '/v1/event-gateways/{gatewayId}/schema-registries/{schemaRegistryId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - name: schemaRegistryId
        in: path
        description: The ID of the Schema Registry.
        required: true
        schema:
          type: string
          format: uuid
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewaySchemaRegistry#read
        terraform-datasource: null
      operationId: get-event-gateway-schema-registry
      summary: Get a Schema Registry
      description: Returns information about a specific schema registry associated with the Event Gateway.
      responses:
        '200':
          description: A single schema registry object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaRegistry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Schema Registries
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewaySchemaRegistry#update
        terraform-datasource: null
      operationId: update-event-gateway-schema-registry
      summary: Update Schema Registry
      description: Updates an existing schema registry associated with the specified Event Gateway.
      requestBody:
        $ref: '#/components/requestBodies/UpdateSchemaRegistryRequest'
      responses:
        '200':
          description: Updated schema registry object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaRegistry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Schema Registries
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewaySchemaRegistry#delete
        terraform-datasource: null
      operationId: delete-event-gateway-schema-registry
      summary: Delete Schema Registry
      description: Deletes a specific schema registry associated with the Event Gateway.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Schema Registries
  '/v1/event-gateways/{gatewayId}/static-keys':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-static-keys
      summary: List Event Gateway Static Keys
      description: Returns a list of static keys associated to this event gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewayStaticKeysResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Static Keys
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayStaticKey#create
        terraform-datasource: null
      operationId: create-event-gateway-static-key
      summary: Create a New Static Key
      description: Create new static key to this event gateway.
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayStaticKeyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayStaticKey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Static Keys
  '/v1/event-gateways/{gatewayId}/static-keys/{staticKeyId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - name: staticKeyId
        in: path
        description: The ID of the static key.
        required: true
        schema:
          type: string
          format: uuid
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayStaticKey#read
        terraform-datasource: null
      operationId: get-event-gateway-static-key
      summary: Get a Static Key
      description: Returns information about an individual static key.
      responses:
        '200':
          description: A single static key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayStaticKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Static Keys
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayStaticKey#delete
        terraform-datasource: null
      operationId: delete-event-gateway-static-key
      summary: Delete Event Gateway Static Key
      description: Deletes a specific static key associated with the Event Gateway.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Static Keys
  '/v1/event-gateways/{gatewayId}/virtual-clusters':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
    get:
      operationId: list-event-gateway-virtual-clusters
      summary: List all virtual clusters
      description: Returns a paginated list of virtual clusters associated with the specified Event Gateway.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - name: filter
          in: query
          description: Filter documents returned in the response.
          required: false
          schema:
            type: object
            properties:
              backend_cluster_id:
                $ref: '#/components/schemas/StringFieldEqualsFilter'
              name:
                $ref: '#/components/schemas/StringFieldContainsFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListVirtualClustersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Clusters
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualCluster#create
        terraform-datasource: null
      operationId: create-event-gateway-virtual-cluster
      summary: Create Virtual Cluster
      description: Creates a new virtual cluster associated with the specified Event Gateway.
      requestBody:
        $ref: '#/components/requestBodies/CreateVirtualClusterRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCluster'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Clusters
  '/v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - name: virtualClusterId
        in: path
        description: The ID of the Virtual Cluster.
        required: true
        schema:
          type: string
          format: uuid
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualCluster#read
        terraform-datasource: null
      operationId: get-event-gateway-virtual-cluster
      summary: Get a Virtual Cluster
      description: Returns information about a specific virtual cluster associated with the Event Gateway.
      responses:
        '200':
          description: A single virtual cluster object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCluster'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Clusters
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualCluster#update
        terraform-datasource: null
      operationId: update-event-gateway-virtual-cluster
      summary: Update Virtual Cluster
      description: Updates an existing virtual cluster associated with the specified Event Gateway.
      requestBody:
        $ref: '#/components/requestBodies/UpdateVirtualClusterRequest'
      responses:
        '200':
          description: Updated virtual cluster object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCluster'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Clusters
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualCluster#delete
        terraform-datasource: null
      operationId: delete-event-gateway-virtual-cluster
      summary: Delete Virtual Cluster
      description: Deletes a specific virtual cluster associated with the Event Gateway.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Clusters
  '/v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/cluster-policies':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      operationId: list-event-gateway-virtual-cluster-cluster-level-policies
      summary: List Cluster Policies for Virtual Cluster
      description: Returns a list of cluster-level policies associated with the virtual cluster.
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyListFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListClusterPoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterClusterPolicy#create
        terraform-datasource: null
      operationId: create-event-gateway-virtual-cluster-cluster-level-policy
      summary: Create Cluster Policy for Virtual Cluster
      description: Creates a new cluster-level policy associated with the specified Event Gateway virtual cluster.
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyBefore'
        - $ref: '#/components/parameters/EventGatewayPolicyAfter'
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayClusterPolicyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
  '/v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/cluster-policies/{policyId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - name: policyId
        in: path
        description: The UUID of the policy.
        required: true
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterClusterPolicy#read
        terraform-datasource: null
      operationId: get-event-gateway-virtual-cluster-cluster-level-policy
      summary: Get a Cluster Policy for Virtual Cluster
      description: Returns information about a specific cluster-level policy associated with the Event Gateway virtual cluster.
      responses:
        '200':
          description: A single cluster-level policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Policies
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterClusterPolicy#update
        terraform-datasource: null
      operationId: update-event-gateway-virtual-cluster-cluster-level-policy
      summary: Update Cluster Policy for Virtual Cluster
      description: Updates an existing cluster-level policy associated with the specified Event Gateway virtual cluster.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayClusterPolicyRequest'
      responses:
        '200':
          description: Updated cluster-level policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
    patch:
      operationId: patch-event-gateway-virtual-cluster-cluster-level-policy
      summary: Patch Cluster Policy for Virtual Cluster
      description: Partially updates an existing cluster-level policy associated with the specified Event Gateway virtual cluster.
      requestBody:
        $ref: '#/components/requestBodies/PatchEventGatewayPolicyRequest'
      responses:
        '200':
          description: Updated cluster-level policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterClusterPolicy#delete
        terraform-datasource: null
      operationId: delete-event-gateway-virtual-cluster-cluster-level-policy
      summary: Delete Cluster Policy for Virtual Cluster
      description: Deletes a specific cluster-level policy associated with the Event Gateway virtual cluster.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Policies
  '/v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/cluster-policies/{policyId}/move':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - $ref: '#/components/parameters/policyId'
    post:
      operationId: move-event-gateway-virtual-cluster-cluster-level-policy
      summary: Move Cluster Policy
      description: |
        Moves the position of a specific cluster-level policy relative to the chain associated with the Event Gateway virtual
        cluster.
        If a policy is defined under a parent policy, it moves the position relative to the sibling policies under the
        same parent.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveEventGatewayPolicy'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
  '/v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/cluster-policy-chain':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      operationId: get-event-gateway-virtual-cluster-cluster-level-policy-chain
      summary: Get Cluster Policy Chain for Virtual Cluster
      description: |
        Get the cluster-level policy chain for a virtual cluster composed of all the ids of the cluster-level policies in order of execution.
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
    put:
      operationId: update-event-gateway-virtual-cluster-cluster-level-policy-chain
      summary: Update Cluster Policy Chain
      description: Update the cluster-level policy chain for a virtual cluster by providing an ordered list of cluster-level policy ids.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayPolicyChainRequest'
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Policies
  '/v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/consume-policies':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      operationId: list-event-gateway-virtual-cluster-consume-policies
      summary: List Consume Policies for Virtual Cluster
      description: Returns a list of consume policies associated with the specified Event Gateway virtual cluster.
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyListFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListConsumePoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterConsumePolicy#create
        terraform-datasource: null
      operationId: create-event-gateway-virtual-cluster-consume-policy
      summary: Create Consume Policy for Virtual Cluster
      description: Creates a new consume policy associated with the specified Event Gateway virtual cluster.
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyBefore'
        - $ref: '#/components/parameters/EventGatewayPolicyAfter'
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayConsumePolicyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
  '/v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/consume-policies/{policyId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - name: policyId
        in: path
        description: The UUID of the policy.
        required: true
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterConsumePolicy#read
        terraform-datasource: null
      operationId: get-event-gateway-virtual-cluster-consume-policy
      summary: Get a Consume Policy for Virtual Cluster
      description: Returns information about a specific consume policy associated with the Event Gateway virtual cluster.
      responses:
        '200':
          description: A single consume policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterConsumePolicy#update
        terraform-datasource: null
      operationId: update-event-gateway-virtual-cluster-consume-policy
      summary: Update Consume Policy for Virtual Cluster
      description: Updates an existing consume policy associated with the specified Event Gateway virtual cluster.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayConsumePolicyRequest'
      responses:
        '200':
          description: Updated consume policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
    patch:
      operationId: patch-event-gateway-virtual-cluster-consume-policy
      summary: Patch Consume Policy for Virtual Cluster
      description: Updates an existing consume policy associated with the specified Event Gateway virtual cluster.
      requestBody:
        $ref: '#/components/requestBodies/PatchEventGatewayPolicyRequest'
      responses:
        '200':
          description: Updated consume policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterConsumePolicy#delete
        terraform-datasource: null
      operationId: delete-event-gateway-virtual-cluster-consume-policy
      summary: Delete Consume Policy for Virtual Cluster
      description: Deletes a specific consume policy associated with the Event Gateway virtual cluster.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
  '/v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/consume-policies/{policyId}/move':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - $ref: '#/components/parameters/policyId'
    post:
      operationId: move-event-gateway-virtual-cluster-consume-policy
      summary: Move Consume Policy
      description: |
        Moves the position of a specific consume policy relative to the chain associated with the Event Gateway virtual
        cluster.
        If a policy is defined under a parent policy, it moves the position relative to the sibling policies under the
        same parent.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveEventGatewayPolicy'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
  '/v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/consume-policy-chain':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      operationId: get-event-gateway-virtual-cluster-consume-policy-chain
      summary: Get Consume Policy Chain
      description: |
        Get the consume policy chain for a virtual cluster composed of all the ids of the consume policies in order of execution.
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
    put:
      operationId: update-event-gateway-virtual-cluster-consume-policy-chain
      summary: Update Consume Policy Chain
      description: Update the consume policy chain for a virtual cluster by providing an ordered list of consume policy ids.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayPolicyChainRequest'
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Consume Policies
  '/v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/produce-policies':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      operationId: list-event-gateway-virtual-cluster-produce-policies
      summary: List Produce Policies for Virtual Cluster
      description: Returns a list of produce policies associated with the specified Event Gateway virtual cluster.
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyListFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListProducePoliciesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterProducePolicy#create
        terraform-datasource: null
      operationId: create-event-gateway-virtual-cluster-produce-policy
      summary: Create Produce Policy for Virtual Cluster
      description: Creates a new produce policy associated with the specified Event Gateway virtual cluster.
      parameters:
        - $ref: '#/components/parameters/EventGatewayPolicyBefore'
        - $ref: '#/components/parameters/EventGatewayPolicyAfter'
      requestBody:
        $ref: '#/components/requestBodies/CreateEventGatewayProducePolicyRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
  '/v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/produce-policies/{policyId}':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - name: policyId
        in: path
        description: The UUID of the policy.
        required: true
        schema:
          type: string
          format: uuid
          example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterProducePolicy#read
        terraform-datasource: null
      operationId: get-event-gateway-virtual-cluster-produce-policy
      summary: Get a Produce Policy for Virtual Cluster
      description: Returns information about a specific produce policy associated with the Event Gateway virtual cluster.
      responses:
        '200':
          description: A single produce policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterProducePolicy#update
        terraform-datasource: null
      operationId: update-event-gateway-virtual-cluster-produce-policy
      summary: Update Produce Policy for Virtual Cluster
      description: Updates an existing produce policy associated with the specified Event Gateway virtual cluster.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayProducePolicyRequest'
      responses:
        '200':
          description: Updated produce policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
    patch:
      operationId: patch-event-gateway-virtual-cluster-produce-policy
      summary: Patch Produce Policy for Virtual Cluster
      description: Partially updates an existing produce policy associated with the specified Event Gateway virtual cluster.
      requestBody:
        $ref: '#/components/requestBodies/PatchEventGatewayPolicyRequest'
      responses:
        '200':
          description: Updated produce policy object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayPolicy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGatewayVirtualClusterProducePolicy#delete
        terraform-datasource: null
      operationId: delete-event-gateway-virtual-cluster-produce-policy
      summary: Delete Produce Policy for Virtual Cluster
      description: Deletes a specific produce policy associated with the Event Gateway virtual cluster.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
  '/v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/produce-policies/{policyId}/move':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
      - $ref: '#/components/parameters/policyId'
    post:
      operationId: move-event-gateway-virtual-cluster-produce-policy
      summary: Move Produce Policy
      description: |
        Moves the position of a specific produce policy relative to the chain associated with the Event Gateway virtual
        cluster.
        If a policy is defined under a parent policy, it moves the position relative to the sibling policies under the
        same parent.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveEventGatewayPolicy'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
  '/v1/event-gateways/{gatewayId}/virtual-clusters/{virtualClusterId}/produce-policy-chain':
    parameters:
      - $ref: '#/components/parameters/gatewayId'
      - $ref: '#/components/parameters/virtualClusterId'
    get:
      operationId: get-event-gateway-virtual-cluster-produce-policy-chain
      summary: Get Produce Policy Chain for Virtual Cluster
      description: |
        Get the produce policy chain for a virtual cluster composed of all the ids of the produce policies in order of execution.
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
    put:
      operationId: update-event-gateway-virtual-cluster-produce-policy-chain
      summary: Update Produce Policy Chain
      description: Update the produce policy chain for a virtual cluster by providing an ordered list of produce policy ids.
      requestBody:
        $ref: '#/components/requestBodies/UpdateEventGatewayPolicyChainRequest'
      responses:
        '200':
          $ref: '#/components/responses/EventGatewayPolicyChainResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Event Gateway Virtual Cluster Produce Policies
  /v1/integration-instances:
    post:
      x-speakeasy-entity-operation: IntegrationInstance#create
      operationId: create-integration-instance
      summary: Create Integration Instance
      description: Creates an integration instance.
      requestBody:
        $ref: '#/components/requestBodies/CreateIntegrationInstanceRequest'
      responses:
        '201':
          $ref: '#/components/responses/IntegrationInstanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Integration Instances
    get:
      operationId: list-integration-instances
      summary: List Integration Instances
      description: Returns a paginated collection of integration instances.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/IntegrationInstanceFilter'
        - $ref: '#/components/parameters/IntegrationInstanceSort'
      responses:
        '200':
          $ref: '#/components/responses/ListIntegrationInstancesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Integration Instances
  '/v1/integration-instances/{id}':
    parameters:
      - name: id
        in: path
        description: The `id` of the integration instance.
        required: true
        schema:
          type: string
          example: 3f51fa25-310a-421d-bd1a-007f859021a3
    get:
      x-speakeasy-entity-operation:
        terraform-resource: IntegrationInstance#read
        terraform-datasource: null
      operationId: fetch-integration-instance
      summary: Get an Integration Instance
      description: Fetches a integration instance.
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instances
    patch:
      x-speakeasy-entity-operation: IntegrationInstance#update
      operationId: update-integration-instance
      summary: Update Integration Instance
      description: Updates an integration instance.
      requestBody:
        $ref: '#/components/requestBodies/UpdateIntegrationInstanceRequest'
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Integration Instances
    delete:
      x-speakeasy-entity-operation: IntegrationInstance#delete
      operationId: delete-integration-instance
      summary: Delete Integration Instance
      description: Deletes an integration instance.
      responses:
        '204':
          description: Integration Instance was deleted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instances
  '/v1/integration-instances/{integrationInstanceId}/auth-config':
    parameters:
      - name: integrationInstanceId
        in: path
        description: The `id` of the integration instance.
        required: true
        schema:
          type: string
          example: 3f51fa25-310a-421d-bd1a-007f859021a3
    get:
      x-speakeasy-entity-operation:
        terraform-resource: IntegrationInstanceAuthConfig#read
        terraform-datasource: null
      operationId: get-integration-instance-auth-config
      summary: Get Integration Instance Auth Config
      description: Fetches auth config scoped to the given integration instance.
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceAuthConfigResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Config
    put:
      x-speakeasy-entity-operation: 'IntegrationInstanceAuthConfig#create,update'
      operationId: upsert-integration-instance-auth-config
      summary: Upsert Integration Instance Auth Config
      description: Upserts auth config scoped to the given integration instance.
      requestBody:
        $ref: '#/components/requestBodies/UpsertIntegrationInstanceAuthConfigRequest'
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceAuthConfigResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Config
    delete:
      x-speakeasy-entity-operation: IntegrationInstanceAuthConfig#delete
      operationId: delete-integration-instance-auth-config
      summary: Delete Integration Instance Auth Config
      description: Deletes the auth config scoped to the given integration instance.
      responses:
        '204':
          description: Integration Instance Auth Config was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Config
  '/v1/integration-instances/{integrationInstanceId}/auth-credential':
    parameters:
      - name: integrationInstanceId
        in: path
        description: The `id` of the integration instance.
        required: true
        schema:
          type: string
          example: 3f51fa25-310a-421d-bd1a-007f859021a3
    post:
      x-speakeasy-entity-operation: IntegrationInstanceAuthCredential#create
      operationId: create-integration-instance-auth-credential
      summary: Create Integration Instance Auth Credential
      description: |
        Creates an auth credential scoped to the given integration instance.
        Auth credentials are singleton resources that have a 1-to-1 relationship with
        an integration instance.

        An attempt to create subsequent auth credentials for an instance will result in a 409 response.
      requestBody:
        $ref: '#/components/requestBodies/CreateIntegrationInstanceAuthCredentialRequest'
      responses:
        '201':
          $ref: '#/components/responses/IntegrationInstanceAuthCredentialResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Integration Instance Auth Credentials
    get:
      x-speakeasy-entity-operation:
        terraform-resource: IntegrationInstanceAuthCredential#read
        terraform-datasource: null
      operationId: get-integration-instance-auth-credential
      summary: Get Integration Instance Auth Credential
      description: Fetches the auth credential scoped to the given integration instance.
      responses:
        '200':
          $ref: '#/components/responses/IntegrationInstanceAuthCredentialResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Credentials
    delete:
      x-speakeasy-entity-operation: IntegrationInstanceAuthCredential#delete
      operationId: delete-integration-instance-auth-credential
      summary: Delete Integration Instance Auth Credential
      description: Deletes the auth credential scoped to the given integration instance.
      responses:
        '204':
          description: Integration Instance Auth Credential was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Integration Instance Auth Credentials
  '/v1/integration-instances/{integrationInstanceId}/resources/{resourceId}':
    parameters:
      - name: integrationInstanceId
        in: path
        description: The `id` of the integration instance.
        required: true
        schema:
          type: string
          example: 3f51fa25-310a-421d-bd1a-007f859021a3
      - name: resourceId
        in: path
        description: The `id` of the resource.
        required: true
        schema:
          type: string
          example: AflTNLY0tTQhv2my
    patch:
      operationId: update-resource
      summary: Update Resource
      description: Updates a resource.
      requestBody:
        $ref: '#/components/requestBodies/UpdateCatalogResourceRequest'
      responses:
        '200':
          $ref: '#/components/responses/CatalogResourceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Resources
  /v1/integrations:
    get:
      operationId: list-catalog-integrations
      summary: List Integrations
      description: |
        Returns a paginated collection of all catalog integrations available to connect.
        Each integration represents a built-in connector that extends the platform's capabilities;
        enabling discovery, resource management, event ingestion, and more.
        Integrations expose metadata that describes how they authenticate, what configuration they
        require, and how they interact with catalog entities like Resources and Services.

        Currently, integrations are platform-defined and cannot be extend or registered by customers.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogIntegrationFilter'
        - $ref: '#/components/parameters/CatalogIntegrationSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogIntegrationsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Catalog Integrations
  /v1/notifications/configurations:
    get:
      operationId: list-user-configurations
      summary: List available user configurations
      description: List available user configurations.
      parameters:
        - $ref: '#/components/parameters/ConfigurationFilter'
      responses:
        '200':
          $ref: '#/components/responses/UserConfigurationListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Notifications
  '/v1/notifications/configurations/{eventId}/subscriptions':
    get:
      operationId: list-event-subscriptions
      summary: List event subscriptions
      description: List event subscriptions.
      parameters:
        - $ref: '#/components/parameters/eventId'
      responses:
        '200':
          $ref: '#/components/responses/EventSubscriptionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Notifications
    post:
      operationId: create-event-subscription
      summary: Create a new subscription for an event
      description: Create a new subscription for an event.
      parameters:
        - $ref: '#/components/parameters/eventId'
      requestBody:
        $ref: '#/components/requestBodies/EventSubscriptionRequest'
      responses:
        '201':
          $ref: '#/components/responses/EventSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Notifications
  '/v1/notifications/configurations/{eventId}/subscriptions/{subscriptionId}':
    parameters:
      - $ref: '#/components/parameters/eventId'
      - $ref: '#/components/parameters/subscriptionId'
    get:
      operationId: get-event-subscription
      summary: Get subscription for an event
      description: Get subscription for an event.
      responses:
        '200':
          $ref: '#/components/responses/EventSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Notifications
    patch:
      operationId: update-event-subscription
      summary: Update subscription for an event
      description: Update subscription for an event.
      requestBody:
        $ref: '#/components/requestBodies/EventSubscriptionRequest'
      responses:
        '200':
          $ref: '#/components/responses/EventSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Notifications
    delete:
      operationId: delete-event-subscription
      summary: Delete subscription associated with event
      description: Delete subscription associated with event.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Notifications
  /v1/notifications/inbox:
    get:
      operationId: list-notifications
      summary: List available notifications
      description: List available notifications.
      parameters:
        - $ref: '#/components/parameters/PageBefore'
        - $ref: '#/components/parameters/PageAfter'
        - $ref: '#/components/parameters/NotificationFilter'
      responses:
        '200':
          $ref: '#/components/responses/NotificationListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Notifications
  '/v1/notifications/inbox/{notificationId}':
    get:
      operationId: get-notification-details
      summary: Get notification details
      description: Get notification details.
      parameters:
        - $ref: '#/components/parameters/notificationId'
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Notifications
    patch:
      operationId: update-notification
      summary: Update notification
      description: Update notification.
      parameters:
        - $ref: '#/components/parameters/notificationId'
      requestBody:
        $ref: '#/components/requestBodies/NotificationUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Notifications
    delete:
      operationId: delete-notification
      summary: Delete notification
      description: Delete notification.
      parameters:
        - $ref: '#/components/parameters/notificationId'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Notifications
  /v1/notifications/inbox/bulk:
    post:
      operationId: bulk-notifications
      summary: Mark a list of notifications to a status
      description: Mark a list of notifications to a status.
      requestBody:
        $ref: '#/components/requestBodies/BulkRequest'
      responses:
        '200':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Notifications
  /v1/resource-mappings:
    post:
      operationId: create-resource-mapping
      summary: Create Resource Mapping
      description: Creates a mapping between a catalog resource and service.
      requestBody:
        $ref: '#/components/requestBodies/CreateCatalogResourceMappingRequest'
      responses:
        '201':
          $ref: '#/components/responses/CatalogResourceMappingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Catalog Resource Mappings
    get:
      operationId: list-resource-mappings
      summary: List Resource Mappings
      description: Returns a paginated collection of catalog resource mappings.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/CatalogResourceMappingFilter'
        - $ref: '#/components/parameters/CatalogResourceMappingSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogResourceMappingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Catalog Resource Mappings
  '/v1/resource-mappings/{resourceMappingId}':
    parameters:
      - name: resourceMappingId
        in: path
        description: The `id` of the resource mapping.
        required: true
        schema:
          type: string
          format: uuid
          example: d277faad-ed4e-4c56-a0fb-acce065dee34
        x-speakeasy-match: id
    get:
      operationId: fetch-resource-mapping
      summary: Get a Resource Mapping
      description: Fetches a resource mapping by ID.
      responses:
        '200':
          $ref: '#/components/responses/CatalogResourceMappingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Resource Mappings
    delete:
      operationId: delete-resource-mapping
      summary: Delete Resource Mapping
      description: Removes an existing mapping between a catalog resource and service.
      responses:
        '204':
          description: Resource Mapping was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Catalog Resource Mappings
  /v1/resources:
    get:
      operationId: list-resources
      summary: List Resources
      description: Returns a paginated collection of resources.
      parameters:
        - $ref: '#/components/parameters/CursorPageQuery'
        - $ref: '#/components/parameters/CatalogResourceFilter'
        - $ref: '#/components/parameters/CatalogResourceSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogResourcesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Catalog Resources
  '/v1/resources/{id}':
    parameters:
      - name: id
        in: path
        description: The `id` of the resource.
        required: true
        schema:
          type: string
          example: AflTNLY0tTQhv2my
    get:
[...]
