apiVersion: v1
kind: Namespace
metadata:
  name: kong
---
# KongReferenceGrant that allows a cluster-scoped KongVault
# to reference the KonnectGatewayControlPlane in kong namespace.
apiVersion: configuration.konghq.com/v1alpha1
kind: KongReferenceGrant
metadata:
  name: allow-kongvault-to-konnectgatewaycontrolplane
  namespace: kong
spec:
  from:
    - group: configuration.konghq.com
      kind: KongVault
      # KongVault is cluster scoped, so this must be empty.
      namespace: ""
  to:
    - group: konnect.konghq.com
      kind: KonnectGatewayControlPlane
      # Optionally specify a specific KonnectGatewayControlPlane name
      # name: my-control-plane
---
kind: KonnectGatewayControlPlane
apiVersion: konnect.konghq.com/v1alpha2
metadata:
  name: my-control-plane
  namespace: kong
spec:
  createControlPlaneRequest:
    name: my-control-plane
  konnect:
    authRef:
      name: konnect-api-auth
---
kind: KongVault
apiVersion: configuration.konghq.com/v1alpha1
metadata:
  name: env-vault-1
spec:
  backend: env
  prefix: env-vault
  config:
    prefix: "konnect_vault_"
  controlPlaneRef:
    type: konnectNamespacedRef
    konnectNamespacedRef:
      name: my-control-plane
      namespace: kong
