---
# This sample demonstrates using KongReferenceGrant to allow a KongCertificate
# to reference Secrets in a different namespace using both SecretRef and SecretRefAlt.
# This is useful when you have both RSA and ECDSA certificates and want Kong to
# prefer serving ECDSA certs when client advertises support for it.
---
apiVersion: v1
kind: Namespace
metadata:
  name: cert-namespace
---
apiVersion: v1
kind: Namespace
metadata:
  name: tls-secrets-namespace
---
# RSA certificate Secret
apiVersion: v1
kind: Secret
metadata:
  name: rsa-tls-secret
  namespace: tls-secrets-namespace
type: kubernetes.io/tls
stringData:
  tls.crt: |
    -----BEGIN CERTIFICATE-----
    MIIDXTCCAkWgAwIBAgIJAKZ6Z0Z6Z0Z6MA0GCSqGSIb3DQEBCwUAMEUxCzAJBgNV
    BAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBX
    aWRnaXRzIFB0eSBMdGQwHhcNMjMwMTAxMDAwMDAwWhcNMjQwMTAxMDAwMDAwWjBF
    MQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50
    ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
    CgKCAQEA0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z
    0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z
    0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z
    0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z
    0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z
    0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z
    0QIDAQABo1AwTjAdBgNVHQ4EFgQU0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z4wHwYDVR0j
    BBgwFoAU0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z4wDAYDVR0TBAUwAwEB/zANBgkqhkiG
    9w0BAQsFAAOCAQEA0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z
    0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z
    0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z
    0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z
    0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z
    0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z
    0Z6Z0g==
    -----END CERTIFICATE-----
  tls.key: |
    -----BEGIN PRIVATE KEY-----
    MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDRnpnRnpnRnpnR
    npnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnR
    npnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnR
    npnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnR
    npnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnR
    npnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnR
    npnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnR
    npnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnR
    0QIDAQABAoIBAQDRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnR
    npnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnR
    npnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnR
    npnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnR
    npnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnR
    npnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRAoGB
    AOZ6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6
    Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6
    Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6
    Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0CgYEA
    5npnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpn
    RnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpn
    RnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpn
    RnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRnpnRg==
    -----END PRIVATE KEY-----
---
# ECDSA certificate Secret (alternative certificate)
apiVersion: v1
kind: Secret
metadata:
  name: ecdsa-tls-secret
  namespace: tls-secrets-namespace
type: kubernetes.io/tls
stringData:
  tls.crt: |
    -----BEGIN CERTIFICATE-----
    MIIBkTCB+wIJAKZ6Z0Z6Z0Z7MAoGCCqGSM49BAMCMEUxCzAJBgNVBAYTAkFVMRMw
    EQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0
    eSBMdGQwHhcNMjMwMTAxMDAwMDAwWhcNMjQwMTAxMDAwMDAwWjBFMQswCQYDVQQG
    EwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lk
    Z2l0cyBQdHkgTHRkMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEZ0Z6Z0Z6Z0Z6
    Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6
    Z0Z6ZzAKBggqhkjOPQQDAgNIADBFAiEA0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z
    0Z6Z0Z6Z0Z4CIGd6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6
    -----END CERTIFICATE-----
  tls.key: |
    -----BEGIN EC PRIVATE KEY-----
    MHQCAQEEIGd6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6oAcGBSuBBAAK
    oUQDQgAEZ0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6
    Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Z0Z6Zw==
    -----END EC PRIVATE KEY-----
---
# KongReferenceGrant that allows KongCertificate in cert-namespace
# to reference any Secret in tls-secrets-namespace
apiVersion: configuration.konghq.com/v1alpha1
kind: KongReferenceGrant
metadata:
  name: allow-cert-to-all-secrets
  namespace: tls-secrets-namespace
spec:
  from:
    - group: configuration.konghq.com
      kind: KongCertificate
      namespace: cert-namespace
  to:
    - group: core
      kind: Secret
      # name is omitted to allow access to all Secrets in this namespace
---
# KongCertificate using both SecretRef (RSA) and SecretRefAlt (ECDSA)
apiVersion: configuration.konghq.com/v1alpha1
kind: KongCertificate
metadata:
  name: dual-cert-cross-namespace
  namespace: cert-namespace
spec:
  type: secretRef
  controlPlaneRef:
    type: konnectNamespacedRef
    konnectNamespacedRef:
      name: my-control-plane
  # Primary certificate (RSA) - cross-namespace reference
  secretRef:
    name: rsa-tls-secret
    namespace: tls-secrets-namespace
  # Alternative certificate (ECDSA) - cross-namespace reference
  secretRefAlt:
    name: ecdsa-tls-secret
    namespace: tls-secrets-namespace
