apiVersion: v1
kind: Namespace
metadata:
  name: kong
---
# KongReferenceGrant that allows KongDataPlaneClientCertificate in default namespace
# to reference the KonnectGatewayControlPlane in kong namespace.
apiVersion: configuration.konghq.com/v1alpha1
kind: KongReferenceGrant
metadata:
  name: allow-kongdataplaneclientcertificate-to-konnectgatewaycontrolplane
  namespace: kong
spec:
  from:
    - group: configuration.konghq.com
      kind: KongDataPlaneClientCertificate
      namespace: default
  to:
    - group: konnect.konghq.com
      kind: KonnectGatewayControlPlane
      # Optionally specify a specific KonnectGatewayControlPlane name
      # name: my-control-plane
---
kind: KonnectGatewayControlPlane
apiVersion: konnect.konghq.com/v1alpha2
metadata:
  name: my-control-plane
  namespace: kong
spec:
  createControlPlaneRequest:
    name: my-control-plane
  konnect:
    authRef:
      name: konnect-api-auth
---
kind: KongDataPlaneClientCertificate
apiVersion: configuration.konghq.com/v1alpha1
metadata:
  name: dp-cert-1
  namespace: default
spec:
  cert: |
    -----BEGIN CERTIFICATE-----
    ... your certificate here ...
    -----END CERTIFICATE-----
  controlPlaneRef:
    type: konnectNamespacedRef
    konnectNamespacedRef:
      name: my-control-plane
      namespace: kong
