---
apiVersion: konnect.konghq.com/v1alpha1
kind: KonnectAPIAuthConfiguration
metadata:
  name: konnect-api-auth-dev-1
  namespace: default
spec:
  type: token
  token: kpat_XXXXXXXXXXXXXXXXXXX
  serverURL: us.api.konghq.tech
---
apiVersion: konnect.konghq.com/v1alpha2
kind: KonnectGatewayControlPlane
metadata:
  name: test1
  namespace: default
spec:
  createControlPlaneRequest:
    name: test1
    labels:
      app: test1
      key1: test1
  konnect:
    authRef:
      name: konnect-api-auth-dev-1
---
apiVersion: v1
kind: Secret
metadata:
  name: my-ca-cert-secret
  namespace: default
  labels:
    konghq.com/secret: "true"
type: Opaque
data:
  ca.crt: |
    LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURQVENDQWlXZ0F3SUJBZ0lVY05LQWsyaWNXUkpHd1o1UURwZFNra2VGNWtVd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0xqRUxNQWtHQTFVRUJoTUNWVk14Q3pBSkJnTlZCQWdNQWtOQk1SSXdFQVlEVlFRS0RBbExiMjVuSUVsdQpZeTR3SGhjTk1qUXdPVFE1TURrd09ERXpXaGNOTWprd09URTRNRGt3T0RFeldqQXVNUXN3Q1FZRFZRUUdFd0pWClV6RUxNQWtHQTFVRUNBd0NRMEV4RWpBUUJnTlZCQW9NQ1V0dmJtY2dTVzVqTGpDQ0FTSXdEUVlKS29aSWh2Y04KQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ0VCQU12RGhMTTB2VHcwUVhtZ0Urc0I2Z3ZLeDJQVVd6dmQydFJab2FtSApoNFJBeFlSamdKc0plNldFZUFrMHRqV1Fxd0FxMFkyTVFpb01DQzRYK0wxM2twZHRvbUkrNFBLakJvemcraVRkClRoeVYwb1FTVkhIV3pheVV6Y1NPRG5HUjUyNEg5WXhta1hWNUltclh3YkVxWHdpVUVTUFZ0am5mL1p6V1MwMXYKZ3RidTR4M1lXK3o4a1JvWE9UcEpIS2NFb0k5MFNVOEY0eWV1UXNDdGJKSGVKWlJxUHI2S3o4NFp1SHNaMk1lVQpvczRqMUdkTWFIM2RTeXNxRnY2bzFoSjIrNmJzckUvT05pR3RCYjQrdHloaXZnZit1K2l4UXdxSUVSbEVKemhJCnovY3NvQUFuZk1CWTQwMWoyTk5VZ1Bwd3g1c1RRZEN6NWFGRG1hbm9sNTE1Mk04Q0F3RUFBYU5UTUZFd0hRWUQKVlIwT0JCWUVGSzJxZDNvUkYzN2FjVnZnZkRlTGFreDY2aW9UTUI4R0ExVWRJd1FZTUJhQUZLMnFkM29SRjM3YQpjVnZnZkRlTGFreDY2aW9UTUE4R0ExVWRFd0VCL3dRRk1BTUJBZjh3RFFZSktvWklodmNOQVFEL0JRRUFkZ0VCCkFBdXVsK3JBenRhdWVUcFBJTTYzbnJTNGJTWnNJYXRDZ0FRNVBpaG0wK3JaKzEzQkprNEsyR3hrUytUMHFrQjUKMzQrRjNlVmhVQjRjQytrVmtXWnJsRXpEOUJzSndXam5vSksrODQ4em5UZyt1ZlRlYU9RV3NsWU5xRktqbXkyawpLNk5FN0U2citKTGROdmFmSnplRHliU1RYSTF0Q3pEUldVZGo1bStiZ3J1WDA3QjEzS0lKS3JBd2VDVEQxOTI3Cld2dmZKWXhzZzhQN2RZRDlEUGxjdU9tMjJnZ0FhUFB1NFAvTXNuQXBpcTNrSkVJL25TR1NzYm9LeWpCTzJoY3oKVkYxQ1lyNkVwZnl3LzQ3a3d1SkxDVkhqbFRnVDRoYU9DaFcxUzhyWklMQ0xYZmI4dWtNL2czWFZZSWVFd3pzcgprLVc0Y204bFRGQ2R4bGNYZVBiTWRIYz0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
---
apiVersion: configuration.konghq.com/v1alpha1
kind: KongCACertificate
metadata:
  name: ca-cert-from-secret
  namespace: default
  annotations:
    konghq.com/tags: "infra,example"
spec:
  controlPlaneRef:
    type: konnectNamespacedRef
    konnectNamespacedRef:
      name: test1
  type: secretRef
  secretRef:
    name: my-ca-cert-secret
  tags:
    - production
    - secretref
