---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    kubernetes-configuration.konghq.com/channels: kong-operator
    kubernetes-configuration.konghq.com/version: v2.1.0-beta.0
  name: kongreferencegrants.configuration.konghq.com
spec:
  group: configuration.konghq.com
  names:
    categories:
    - kong
    kind: KongReferenceGrant
    listKind: KongReferenceGrantList
    plural: kongreferencegrants
    singular: kongreferencegrant
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          KongReferenceGrant identifies kinds of resources in other namespaces that are
          trusted to reference the specified kinds of resources in the same namespace
          as the policy.

          Each KongReferenceGrant can be used to represent a unique trust relationship.
          Additional Reference Grants can be used to add to the set of trusted
          sources of inbound references for the namespace they are defined within.

          All cross-namespace references in Kong APIs require a KongReferenceGrant.

          KongReferenceGrant is a form of runtime verification allowing users to assert
          which cross-namespace object references are permitted.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Spec defines the desired state of KongReferenceGrant.
            properties:
              from:
                description: |-
                  From describes the trusted namespaces and kinds that can reference the
                  resources described in "To". Each entry in this list MUST be considered
                  to be an additional place that references can be valid from, or to put
                  this another way, entries MUST be combined using OR.
                items:
                  description: ReferenceGrantFrom describes trusted namespaces and
                    kinds.
                  properties:
                    group:
                      description: Group is the group of the referent.
                      maxLength: 253
                      minLength: 1
                      pattern: ^$|^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                      type: string
                    kind:
                      allOf:
                      - minLength: 1
                      - minLength: 1
                      description: Kind is the kind of the referent.
                      maxLength: 63
                      pattern: ^[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?$
                      type: string
                    namespace:
                      allOf:
                      - minLength: 1
                      - minLength: 1
                      description: Namespace is the namespace of the referent.
                      maxLength: 63
                      pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                      type: string
                  required:
                  - group
                  - kind
                  - namespace
                  type: object
                  x-kubernetes-validations:
                  - message: Only KongConsumerGroup, KongCertificate, KongCACertificate,
                      KongService, and KongUpstream kinds are supported for 'configuration.konghq.com'
                      group
                    rule: .self.group != 'configuration.konghq.com' || .self.kind
                      in ['KongConsumerGroup', 'KongService', 'KongCertificate', 'KongCACertificate',
                      'KongUpstream' ]
                maxItems: 16
                minItems: 1
                type: array
                x-kubernetes-list-type: atomic
              to:
                description: |-
                  To describes the resources that may be referenced by the resources
                  described in "From". Each entry in this list MUST be considered to be an
                  additional place that references can be valid to, or to put this another
                  way, entries MUST be combined using OR.
                items:
                  description: |-
                    ReferenceGrantTo describes what Kinds are allowed as targets of the
                    references.
                  properties:
                    group:
                      description: Group is the group of the referent.
                      maxLength: 253
                      minLength: 1
                      pattern: ^$|^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                      type: string
                    kind:
                      allOf:
                      - minLength: 1
                      - minLength: 1
                      description: Kind is the kind of the referent.
                      maxLength: 63
                      pattern: ^[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?$
                      type: string
                    name:
                      description: |-
                        Name is the name of the referent. When unspecified, this policy
                        refers to all resources of the specified Group and Kind in the local
                        namespace.
                      maxLength: 253
                      minLength: 1
                      type: string
                  required:
                  - group
                  - kind
                  type: object
                  x-kubernetes-validations:
                  - message: Only 'Secret' kind is supported for 'core' group
                    rule: .self.group != 'core' || .self.kind == 'Secret'
                  - message: Only 'KonnectGatewayControlPlane' and 'KonnectAPIAuthConfiguration'
                      kinds are supported for 'konnect.konghq.com' group
                    rule: .self.group != 'konnect.konghq.com' || .self.kind in ['KonnectGatewayControlPlane',
                      'KonnectAPIAuthConfiguration']
                maxItems: 16
                minItems: 1
                type: array
                x-kubernetes-list-type: atomic
            required:
            - from
            - to
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
