name: Reusable govulncheck

on:
  workflow_call:
    inputs:
      ref:
        description: 'Git reference to check out'
        required: true
        type: string

permissions:
  contents: read

jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit
    - name: Checkout repository
      id: checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        ref: ${{ inputs.ref }}
        
    - uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
      with:
        repo-checkout: false
        output-format: sarif
        output-file: results_${{ steps.checkout.outputs.commit }}.sarif

    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v3.29.5
      with:
        sarif_file: results_${{ steps.checkout.outputs.commit }}.sarif
        ref: refs/heads/${{ inputs.ref }}
        sha: ${{ steps.checkout.outputs.commit }}
        category: govulncheck
