name: Reusable govulncheck

on:
  workflow_call:
    inputs:
      ref:
        description: 'Git reference to check out'
        required: true
        type: string

permissions:
  contents: read

jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit
    - name: Checkout repository
      id: checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        ref: ${{ inputs.ref }}
        
    - uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
      with:
        repo-checkout: false
        output-format: sarif
        output-file: results_${{ steps.checkout.outputs.commit }}.sarif

    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v3.29.5
      with:
        sarif_file: results_${{ steps.checkout.outputs.commit }}.sarif
        ref: refs/heads/${{ inputs.ref }}
        sha: ${{ steps.checkout.outputs.commit }}
        category: govulncheck
