name: kong integration tests

on:
  workflow_call: {}

permissions:
  contents: read

jobs:
  kongintegration-tests:
    timeout-minutes: ${{ fromJSON(vars.GHA_EXTENDED_TIMEOUT_MINUTES || 60) }}
    runs-on: ubuntu-latest
    name: ${{ matrix.name }}
    strategy:
      matrix:
        include:
          - name: enterprise
            enterprise: true
          - name: oss
            enterprise: false
    steps:
      - name: checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: setup golang
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - uses: Kong/kong-license@c4decf08584f84ff8fe8e7cd3c463e0192f6111b # master @ 20250107
        id: license
        with:
          op-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

      - name: set kong oss version
        if: ${{ !matrix.enterprise }}
        run: |
          echo "TEST_KONG_IMAGE=kong" >> $GITHUB_ENV
          echo "TEST_KONG_TAG=$(yq -ojson -r '.kongintegration.kong-oss' < test/test_dependencies.yaml )" >> $GITHUB_ENV

      - name: set kong ee version
        if: ${{ matrix.enterprise }}
        run: |
          echo "TEST_KONG_IMAGE=kong/kong-gateway" >> $GITHUB_ENV
          echo "TEST_KONG_TAG=$(yq -ojson -r '.kongintegration.kong-ee' < test/test_dependencies.yaml )" >> $GITHUB_ENV

      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          install: false

      - run: echo "GOTESTSUM_JUNITFILE=kongintegration-${{ matrix.name }}-tests.xml" >> $GITHUB_ENV

      - name: run kong integration tests
        run: make test.kongintegration
        env:
          MISE_VERBOSE: 1
          MISE_DEBUG: 1
          GOTESTSUM_JUNITFILE: ${{ env.GOTESTSUM_JUNITFILE }}
          KONG_CUSTOM_DOMAIN: konghq.tech
          TEST_KONG_KONNECT_ACCESS_TOKEN: ${{ secrets.KONG_TEST_KONNECT_ACCESS_TOKEN }}
          KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
          TEST_KONG_ENTERPRISE: ${{ matrix.enterprise }}

      - name: collect test coverage
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: coverage-kongintegration-${{ matrix.name }}
          path: coverage.*.out

      - name: collect test report
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: tests-report-kongintegration-${{ matrix.name }}
          path: ${{ env.GOTESTSUM_JUNITFILE }}
