name: Sync charts to charts repo

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || ( github.ref_type == 'tag' && github.ref_name || github.sha ) }}
  cancel-in-progress: true

on:
  push:
    paths:
      - charts/**
      - .github/charts-sync.yaml
      - .github/workflows/charts-sync.yaml
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: BetaHuhn/repo-file-sync-action@8b92be3375cf1d1b0cd579af488a9255572e4619 # v1.21.1
        with:
          GH_PAT: ${{ secrets.PAT_GITHUB }}
          GIT_EMAIL: team-k8s+github-bot@konghq.com
          CONFIG_PATH: .github/charts-sync.yaml
          OVERWRITE_EXISTING_PR: true
          PR_BODY: |
            ### Sync charts from ${{ github.repository }}

            This PR was automatically generated by the `sync-charts` workflow.
            It syncs the charts/ directory from the ${{ github.repository }} repository.
