name: Generate Kubernetes Gateway API conformance tests report
run-name: "Generate Kubernetes Gateway API conformance tests report ${{ format('ref:{0}', github.event.inputs.tag) }}"

on:
  workflow_dispatch:
    inputs:
      tag:
        description: The version of code to checkout (e.g. v1.2.3 or commit hash)
        required: false
        default: main

permissions:
  contents: read

jobs:
  conformance-tests:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - router-flavor: traditional_compatible
          - router-flavor: expressions
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
          fetch-tags: true
          ref: ${{ github.event.inputs.tag }}

      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          install: false

      - name: Setup Golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod

      - name: Run conformance tests
        env:
          TEST_KONG_ROUTER_FLAVOR: ${{ matrix.router-flavor }}
          # Add GITHUB_TOKEN env so that mise plugins can can access GitHub's API
          # authenticated and thus not get rate-limited (which causes failures).
          # Source ref: https://github.com/pirackr/asdf-telepresence/blob/c9eeab4d28b9851bb904c4c67239a118c8dd384d/bin/list-all#L7-L9
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make test.conformance

      # Generated report should be submitted to
      # https://github.com/kubernetes-sigs/gateway-api/tree/main/conformance/reports
      # in future automate creating PR (add to release workflow).
      # TODO: https://github.com/Kong/kong-operator/issues/131
      - name: Collect conformance report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: conformance-report-${{ matrix.router-flavor }}
          path: experimental-*-report.yaml
